.App {
    width: 320px;
}
.App-header {
    font-weight: 500;
    font-size: 18px;
}
.layers {
    position: relative;
    display: inline-block;
    width: 100%;
}
.layer {
    position: absolute;
    display: flex;
    flex-direction: row;
}
.cell {
    width: 29px;
    height: 29px;
    box-sizing: border-box;
    position: relative;
}